*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --fontfamily-primary: "Source Sans Pro", sans-serif;
  --fontfamily-secondary: "Source Code Pro", monospace;
  --fontweight-reg: 300;
  --fontweight-bold: 900;
  --color-light: #fff;
  --color-dark: #303030;
  --color-accent: #ff9900;

  --fontsize-h1: 2.75rem;
  --fontsize-h2: 2.25rem;
  --fontsize-h3: 1.25rem;
  --fontsize-body: 1rem;
  --fontsize-small: 0.75rem;
  --boxshadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fontsize-h1: 4.5rem;
    --fontsize-h2: 3.75rem;
    --fontsize-h3: 1.5rem;
    --fontsize-body: 1.25rem;
    --fontsize-small: 1rem;
  }
}

/* General styles */

::selection {
  color: var(--color-light);
  background-color: var(--color-accent);
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: var(--fontfamily-primary);
  font-size: var(--fontsize-body);
  line-height: 1.6;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* :focus {
  outline: 3px solid var(--color-accent);
  outline-offset: 3px;
} */

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  font-size: var(--fontsize-h1);
}

h2 {
  font-size: var(--fontsize-h2);
}

h3 {
  font-size: var(--fontsize-h3);
}

.section-subtitle {
  font-size: var(--fontsize-h3);
}

section {
  padding: 3rem 1rem;
}

/* @media (min-width: 800px) {
  section {
    padding: 5rem 2rem;
  }
} */

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.logo {
  --primary: var(--color-dark);
  --secondary: var(--color-accent);
  --size: 2.4rem;
  --transition: all 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
  font-size: var(--size);
  color: var(--primary);
  line-height: 1.5;
  padding-left: calc(var(--size) / 16);
  text-decoration: none;
}

.logo::before,
.logo::after,
.logo span {
  display: inline-block;
  pointer-events: none;
}

.logo::before {
  content: "v";
  color: var(--secondary);
  opacity: 1;
  transform: rotate(90deg) translateX(calc(var(--size) / 16));
  transition: var(--transition);
}

.logo:hover::before {
  opacity: 0;
}

.logo::after {
  content: "vs";
  color: var(--secondary);
  transform: rotate(-90deg) translateY(calc(var(--size) * -0.28))
    translateX(calc(var(--size) / 5));
  transition: var(--transition);
}

.logo:hover::after {
  transform: rotate(0deg) translateY(0) translateX(0);
}

.logo span {
  transform: skew(-20deg) scaleY(1.25) translateX(calc(var(--size) / 16));
  transition: var(--transition);
}

.logo:hover span {
  transform: skew(0deg) scaleY(1) translateX(0);
}

.nav {
  position: fixed;
  background-color: var(--color-dark);
  color: var(--color-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 0;
}

.nav-link {
  color: inherit;
  font-weight: var(--fontweight-bold);
  font-size: var(--fontsize-h2);
  text-decoration: none;
  transition: color 150ms ease-in-out;
}

.nav-link:hover {
  color: var(--color-accent);
}

.nav-toggle {
  position: fixed;
  right: 0.75rem;
  padding: 0.25rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 1000;
  width: 3rem;
  display: grid;
  gap: 0.25rem;
  transition: opacity 250ms ease-in-out;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-toggle span {
  display: block;
  background-color: var(--color-accent);
  height: 4px;
  border-radius: 2px;
  opacity: 1;
  transition: all 250ms ease-in-out;
}

.nav-open .nav-toggle span:nth-child(1) {
  transform: rotate(45deg) translateY(11px);
  transform-origin: center;
}

.nav-open .nav-toggle span:nth-child(2) {
  opacity: 0;
}

.nav-open .nav-toggle span:nth-child(3) {
  transform: rotate(-45deg) translateY(-11px);
  transform-origin: center;
}

.scroll-toggle {
  opacity: 0.5;
}

.nav-open .nav-toggle {
  opacity: 1;
}

/* @media (min-width: 1000px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    position: unset;
    background-color: var(--color-light);
    color: var(--color-dark);
    transform: unset;
    margin-top: 0.45em;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
  }

  .nav-link {
    color: var(--color-dark);
    font-weight: var(--fontweight-reg);
    font-size: var(--fontsize-h3);
  }

  .nav-item + .nav-item {
    margin-left: 1.5em;
  }

  .nav-link:hover {
    font-weight: var(--fontweight-bold);
  }
} */

/* Intro section */
.intro {
  display: grid;
  align-content: center;
  height: 100vh;
}

.intro-img {
  display: none;
}

.section-subtitle-intro {
  color: var(--color-light);
  font-family: var(--fontfamily-secondary);
  background-color: var(--color-accent);
  padding: 0.25rem 1rem;
  margin: 1rem 0;
}

.section-title-intro {
  font-weight: var(--fontweight-reg);
}

.section-title-intro strong {
  display: block;
}

.section-title-intro span {
  color: var(--color-accent);
}

@media (min-width: 620px) {
  .intro {
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1rem;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .img-container {
    background-color: var(--color-accent);
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .intro-img {
    display: block;
    box-shadow: var(--boxshadow);
    object-fit: cover;
    height: 320px;
    width: 100%;
  }

  .section-title-intro {
    margin-top: 1rem;
  }

  .section-subtitle-intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1rem;
    width: calc(100% + 1rem);
  }
}

@media (min-width: 800px) {
  .section-title-intro {
    margin-top: 0rem;
  }
}

/* About me  */

.about-me {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.section-subtitle-about {
  background-color: var(--color-accent);
  font-family: var(--fontfamily-secondary);
  margin: 1rem 0;
  padding: 0.25rem 1rem;
}

.about-me-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-me-img {
  box-shadow: var(--boxshadow);
  object-fit: cover;
  height: 320px;
  width: 100%;
}

/* @media (min-width: 600px) {
  .about-me {
    display: block;
  }

  .section-title-about {
    grid-area: title;
  }

  .section-subtitle-about {
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me-img {
    display: none;
  }
} */

/* My resume */

.my-resume {
  text-align: center;
}

.section-title-resume::after {
  content: "";
  display: block;
  width: 6rem;
  height: 1px;
  margin: 1rem auto;
  background: var(--color-dark);
  opacity: 0.25;
}

.resume-list {
  list-style-type: none;
  padding: 0;
}

.resume-list-item {
  text-align: left;
  font-weight: var(--fontweight-bold);
  font-size: var(--fontsize-small);
  border-bottom: 1px solid #30303025;
  padding: 0.5rem 0;
}

.year {
  font-weight: var(--fontweight-reg);
}

.career-change {
  text-decoration: none;
  color: inherit;
  transition: all 250ms ease-in-out;
  background-color: red;
}

.career-change .resume-list-item:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
}

/* My skills */

.my-skills {
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;
}

.section-title-skills::after {
  content: "";
  display: block;
  width: 6rem;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--color-light);
  opacity: 0.25;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "skills tools"
    "certificates certificates";
  grid-gap: 1rem;
}

.skills-list,
.tools-list,
.certificates-list {
  list-style-type: none;
  padding: 0;
}

.skills {
  grid-area: skills;
}

.tools {
  grid-area: tools;
}

.certificates {
  grid-area: certificates;
}

.skills-content {
  background-color: var(--color-accent);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: left;
  box-shadow: var(--boxshadow);
}

.skills-content h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.certificates a {
  text-decoration: none;
  color: inherit;
}

/* @media (min-width: 800px) {
  .skills {
    display: flex;
    max-width: 1000px;
    margin: 0 auto 3.75rem;
  }

  .skill + .skill {
    margin-left: 2em;
  }
} */

/* My work */

.my-work {
  background-color: var(--color-light);
  color: var(--color-dark);
  text-align: center;
}

.section-subtitle-work {
  color: var(--color-accent);
  font-family: var(--fontfamily-secondary);
  font-weight: var(--fontweight-bold);
  margin: 1rem 0 2rem;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1400px;
  margin: 0 auto;
}

.portfolio-item {
  background-color: var(--color-accent);
  overflow: hidden;
  display: grid;
  text-decoration: none;
  color: inherit;
}

.portfolio-img {
  grid-area: 1 / 1;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
}

.portfolio-item-text {
  grid-area: 1 / 1;
  display: grid;
  place-content: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);

  transition: background-color 250ms linear;
  position: relative;
  z-index: 2;
}

.portfolio-item-text h3 {
  margin-bottom: 2rem;
  /* color: var(--color-accent);
  background-color: rgba(255, 255, 255, 0.6); */
  padding: 1rem;
}

.portfolio-item-text p {
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 2;
  /* color: var(--color-accent);
  background-color: rgba(255, 255, 255, 0.6); */
}

.portfolio-item:hover .portfolio-img,
.portfolio-item:focus .portfolio-img {
  transform: scale(1.2);
}

.portfolio-item:hover .portfolio-item-text,
.portfolio-item:focus .portfolio-item-text {
  background-color: rgba(255, 153, 0, 0.6);
}

/* Footer */

.footer {
  background-color: #111;
  color: var(--color-accent);
  padding: 3rem 1rem;
  font-size: var(--fontsize-h3);
  height: 100vh;
  display: grid;
  align-content: center;
  text-align: center;
}

.spark {
  font-size: var(--fontsize-h2);
  color: var(--color-light);
  margin: 2rem 0;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer-link {
  font-weight: var(--fw-bold);
}

.footer-link i {
  margin-right: 0.5em;
}

.footer-link:hover,
.social-list-link:hover {
  opacity: 0.7;
}

.footer-link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em auto 0 auto;
  padding: 0;
}

.social-list-item {
  margin: 0 0.5em;
}

.social-list-links {
  padding: 0.5em;
}

/* Individual portfolio item styles  */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
