*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

:root {
  --fontfamily-primary: "Source Sans Pro", sans-serif;
  --fontfamily-secondary: "Source Code Pro", monospace;
  --fontweight-reg: 300;
  --fontweight-bold: 900;
  --color-light: #fff;
  --color-dark: #303030;
  --color-accent: #16e0bd;

  --fontsize-h1: 3rem;
  --fontsize-h2: 2.25rem;
  --fontsize-h3: 1.25rem;
  --fontsize-body: 1rem;
  --boxshadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fontsize-h1: 4.5rem;
    --fontsize-h2: 3.75rem;
    --fontsize-h3: 1.5rem;
    --fontsize-body: 1.25rem;
  }
}

/* General styles */

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: var(--fontfamily-primary);
  font-size: var(--fontsize-body);
  line-height: 1.6;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

section {
  padding: 5em 2em;
}

:focus {
  outline: 3px solid var(--color-accent);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background-color: var(--color-accent);
  color: var(--color-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fontweight-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  font-size: var(--fontsize-h1);
}

h2 {
  font-size: var(--fontsize-h2);
}

h3 {
  font-size: var(--fontsize -h3);
}

.section-title {
  margin-bottom: 0.25em;
}

.section-title-intro {
  font-weight: var(--fontweight-reg);
}

.section-title-intro strong {
  display: block;
}

.section-subtitle {
  font-size: var (--fontsize-h3);
}

.section-subtitle-intro,
.section-subtitle-about {
  background-color: var(--color-accent);
  padding: 0.25em 1em;
  font-family: var(--fontfamily-secondary);
  margin-bottom: 1em;
}

.section-subtitle-work {
  color: var(--color-accent);
  font-weight: var(--fontweight-bold);
  margin-bottom: 2em;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

/* Logo */

.section-title-intro span {
  color: orange;
}

.logo {
  --primary: #1a0f00;
  --secondary: orange;
  --size: 2rem;
  --transition: all 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
  font-size: var(--size);
  color: var(--primary);
  line-height: 1.5;
  padding-left: calc(var(--size) / 16);
  text-decoration: none;
}

.logo::before,
.logo::after,
.logo span {
  display: inline-block;
  pointer-events: none;
}

.logo::before {
  content: "v";
  color: var(--secondary);
  opacity: 1;
  transform: rotate(90deg) translateX(calc(var(--size) / 16));
  transition: var(--transition);
}

.logo:hover::before {
  opacity: 0;
}

.logo::after {
  content: "vs";
  color: var(--secondary);
  transform: rotate(-90deg) translateY(calc(var(--size) * -0.28))
    translateX(calc(var(--size) / 5));
  transition: var(--transition);
}

.logo:hover::after {
  transform: rotate(0deg) translateY(0) translateX(0);
}

.logo span {
  transform: skew(-20deg) scaleY(1.25) translateX(calc(var(--size) / 16));
  transition: var(--transition);
}

.logo:hover span {
  transform: skew(0deg) scaleY(1) translateX(0);
}

.nav {
  position: fixed;
  background-color: var(--color-dark);
  color: var(--color-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250% cubic-bezier(0.5, 0, 0.5, 1);
}

.nav-list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.nav-link {
  color: inherit;
  font-weight: var(--fontweight-bold);
  font-size: var(--fontsize-h2);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-accent);
}

.nav-toggle {
  padding: 0.5em;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--color-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

/* Intro section */

.intro {
  position: relative;
}

/* !!!!!! */
.img-container {
  background-color: var(--color-accent);
}

.intro-img {
  box-shadow: var(--boxshadow);
}

.section-subtitle-intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .img-container {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section-subtitle-intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* My skills */

.my-skills {
  background-color: var(--color-dark);
  background-image: url(services-bg.jpg);
  background-size: cover;
  /* background-blend-mode: multiply; */
  color: var(--color-light);
  text-align: center;
}

.section-title-skills {
  color: var(--color-accent);
  position: relative;
}

.section-title-skills::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--color-light);
  opacity: 0.25;
}

.skills {
  margin-bottom: 3.75rem;
}

.skill {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .skills {
    display: flex;
    max-width: 1000px;
    margin: 0 auto 3.75rem;
  }

  .skill + .skill {
    margin-left: 2em;
  }
}

/* About me  */

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me-img {
  box-shadow: var(--boxshadow);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section-title-about {
    grid-area: title;
  }

  .section-subtitle-about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me-img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My work */

.my-work {
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;
}

.section-subtitle-work {
  color: var(--color-accent);
  font-weight: var(--fontweight-bold);
  margin-bottom: 2em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1400px;
  margin: 0 auto;
}

.portfolio-item {
  background-color: var(--color-accent);
  overflow: hidden;
}

.portfolio-img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio-item:focus {
  position: relative;
  z-index: 2;
}

.portfolio-img:hover,
.portfolio-item:focus .portfolio-img {
  transform: scale(1.2);
  opacity: 0.75;
}

/* Footer */

.footer {
  background-color: #111;
  color: var(--color-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fontsize-h3);
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer-link {
  font-weight: var(--fw-bold);
}

.footer-link i {
  margin-right: 0.5em;
}

.footer-link:hover,
.social-list-link:hover {
  opacity: 0.7;
}

.footer-link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em auto 0 auto;
  padding: 0;
}

.social-list-item {
  margin: 0 0.5em;
}

.social-list-links {
  padding: 0.5em;
}

/* Individual portfolio item styles  */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
